ПОСТАНОВКА ЗАДАЧИ:
Предлагаем реализовать сервис, который выгружает в себя цитаты с https://bash.im/, набор CRUD API, предоставляющих доступ к этим данным, а также метод, позволяющий получить статистику по времени загрузки цитат по дням в произвольной форме.

ФОРМАЛЬНЫЕ ТРЕБОВАНИЯ:
- CRUD на модель данных, содержащую в себе цитаты
- Предоставление статистики по времени загрузки
- Спецификация API (предпочтительно - в формате OpenAPI 3, идеально - генерация документации из исходного кода)
- Структурная диаграмма решения в произвольной форме
- Инсталляционный скрипт для 2х окружений: Windows, *unix (предпочтительно, RHEL-подобные дистрибутивы)
